<h1>{{ title }}</h1>

<section>
  <h2>Constants</h2>

  <h3>ISO 1990 UTC</h3>
  <div>{{ iso1990Utc }}</div>

  <h3>UNIX 1990 UTC</h3>
  <div>{{ unix1990Utc }}</div>

  <h3>ISO 1997 UTC</h3>
  <div>{{ iso1997Utc }}</div>

  <h3>UNIX 1997 UTC</h3>
  <div>{{ unix1997Utc }}</div>

  <h3>Seconds today</h3>
  <div>{{ secondsToday }}</div>

  <h3>Minutes today</h3>
  <div>{{ minutesToday }}</div>

  <h3>Seconds during the last 7 days</h3>
  <div>{{ secondsDuringTheLast7Days }}</div>
</section>

<router-outlet></router-outlet>
